on init
    #create mountpoint for /vendor/persist partition
    mkdir /vendor/persist 0771 system system
    mount ext4 /dev/block/platform/bootdevice/by-name/persist /vendor/persist rw

on post-fs
    chown system system /vendor/persist
    chmod 0771 /vendor/persist

    # We restorecon /vendor/persist to set SEPolicy label.
    restorecon /vendor/persist

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore
    # MobiCore Daemon Paths
    write /proc/bootprof "MOBICORE: export MC_AUTH_TOKEN_PATH /efs"
    export MC_AUTH_TOKEN_PATH /efs

on post-fs-data
    # Create /data/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/key_provisioning 0771 system system
    mkdir /vendor/persist/mcRegistry 0771 system system

# For META/FACTORY mode
on property:ro.crypto.state=unencrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (unencrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (unencrypted)"

# Normal mode, FBE
on property:ro.crypto.type=file && property:ro.crypto.state=encrypted
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FBE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FBE encrypted)"

# Normal mode, FDE
on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry ++ (FDE encrypted)"
    mkdir /data/misc/mcRegistry 0775 system system
    write /proc/bootprof "MOBICORE: create /data/misc/mcRegistry -- (FDE encrypted)"

#service rda /vendor/bin/rda
#    class main
#    user shell
#    group shell

# Start Daemon (Registry directories should already be present)
##ifndef ODM_WT_EDIT
#service mobicore /vendor/bin/mcDriverDaemon --P1 /vendor/persist -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin -r /vendor/app/mcRegistry/070b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin  -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin
#    user system
#    group system
#    class core
#    priority -20
#    oneshot

##else
    #ifdef VENDOR_EDIT
    #Hongdao.yu@BSP.Fingerprint.Basic, 2018/12/25, modify for drfp in TRUSTONIC
service mobicore /vendor/bin/mcDriverDaemon --P1 /vendor/persist -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin -r /vendor/app/mcRegistry/070b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/07070000000000000000000000000000.drbin  -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin -r /vendor/app/mcRegistry/030d0000000000000000000000000000.drbin -r /vendor/app/mcRegistry/09070000000000000000000000000000.drbin
    #endif /* VENDOR_EDIT */
    user system
    group system
    class core
    priority -20
    oneshot
##endif
